@import "tailwindcss";

@layer base {
  body {
    @apply antialiased text-slate-800 bg-slate-100;
  }
}

@media print {
  @page {
    margin: 1cm;
    size: auto;
  }
  
  body {
    background: #ffffff !important;
    color: #000000 !important;
  }

  header, nav, .print\:hidden {
    display: none !important;
  }
}
